<div>
  <p>hii <%= user.name %></p>
  <br />
  <br />
  <p>Click on the link to reset your password</p>
  <br />
  <p>
    <p><%= user.resetLink %></p>
    <a
      href="http://localhost:8000/api/v1/changepassword/<%= user.resetLink %>"
      >Reset Password</a
    >
  </p>
  <br />
  <p>Thanks</p>
</div>
